<!DOCTYPE html>

<head>
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#7575ff">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#7575ff">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#7575ff">
	<meta charset="utf-8">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
		maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Frappe Desk</title>
	<link rel="shortcut icon" href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	<link rel="icon" href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	{% for include in include_css -%}
	<link type="text/css" rel="stylesheet" href="{{ include }}?ver={{ build_version }}">
	{%- endfor -%}
	<link type="text/css" rel="stylesheet" href="/assets/asaas_theme/css/asaas-desk.css?ver=build_version }}">
</head>

<body>
	<div class="centered splash" >
		<img src="{{ splash_image or "/assets/frappe/images/frappe-bird-thin.svg" }}">
	</div>
	

	<div class="main-section">
		<div class="col-md-2 hidden-xs hidden-sm">
			<div id="primary-sidebar">
				<div class="logo">
					<a href="/desk#">
						<img src="/assets/asaas_theme/images/logo.png" alt="">
					</a>
				</div>
				<div class="profile-image">
					
				</div>
		
				<div class="user-info">
					<h4 id="user-fullname"></h4>
					<h4 id="user-department"></h4>
				</div>
		
				<div class="sidebar-modules">
					
				</div>
		
			</div>
		</div>
		<div class="col-md-10 col-sm-12 col-xs-12">
			<header>
					<div class="page-head">
							<div class="container">
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12 page-title">
										<!-- title -->
										<ul class="nav navbar-nav" id="navbar-breadcrumbs">
										</ul>
										<h1>
												<div class="title-image hide hidden-md hidden-lg">
												</div>
												<div class="ellipsis title-text"></div>
												<span class="indicator hide"></span>
										</h1>
										
									</div>
									
								</div>
							</div>
						</div>
			</header>
			
			<div id="body_div">
					<div class="desk-page-head page-head">
							<div class="container">
								<div class="row">
									<div class="col-md-7 col-sm-8 col-xs-6 page-title">
										<ul class="nav navbar-nav" id="navbar-breadcrumbs"> </ul>
										<h1>
											<div class="title-image hide hidden-md hidden-lg"> </div>
											<div class="ellipsis title-text">{{_('Main Sections') }}</div> <span class="indicator hide"></span>
										</h1>
									</div>
								</div>
							</div>
						</div>
			</div>
			<footer></footer>
		</div>
	</div>
	<!-- hack! load background image asap, before desktop is rendered -->
	{% if background_image %}
	<img src="{{ background_image }}" style="height: 1px; width: 1px; margin-bottom: -1px;">
	{% endif %}

	<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>

	<script type="text/javascript">
		window._version_number = "{{ build_version }}";
		// browser support
		window.app = true;
		window.dev_server = {{ dev_server }};

		if (!window.frappe) window.frappe = {};

		frappe.boot = {{ boot }};

		frappe.csrf_token = "{{ csrf_token }}";

	</script>

	{% for include in include_js %}
	<script type="text/javascript" src="{{ include }}?ver={{ build_version }}"></script>
	{% endfor %}
	{% include "templates/includes/app_analytics/google_analytics.html" %}
	{% include "templates/includes/app_analytics/mixpanel_analytics.html" %}

	{% for sound in (sounds or []) %}
	<audio preload="auto" id="sound-{{ sound.name }}" volume={{ sound.volume or 1 }}>
		<source src="{{ sound.src }}">
		</source>
	</audio>
	{% endfor %}
</body>