.filter-box .filter-actions .remove-filter{
    color: white;
    background-color: #e53929;
    border-color: #e53929;
    padding: 5px 12px;
    margin-top: 0px;
    text-decoration: none;
}


.filter-box .filter-actions a{
    margin-left: 5px;
    margin-right: 0;
    border-radius: 7px;
    min-width: 35px;
    min-height: 30px;
    width:100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.frappe-rtl .filter-box .filter-actions a{
    margin-left: 0;
    margin-right: 5px;
    font-size: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
}
.filter-box{
    border-bottom: none;
}
.content.page-container{
    background-color: #f8faff;
}
    
.content.page-container[data-page-route*="List/"] .layout-main-section{
    border: none;
}

.content.page-container[data-page-route*="List/"] 

.content.page-container[data-page-route*="List/"] 
    .layout-main-section.listview-main-section > .page-form.row{
    background-color: #f8faff;
    border:none;
    -moz-box-shadow:    2px 2px 5px 0px #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px #ccc;
    box-shadow:         2px 2px 5px 0px #ccc;
}

.module-section{
    background-color: white;
    border:none;
    -moz-box-shadow:    2px 2px 5px 0px #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px #ccc;
    box-shadow:         2px 2px 5px 0px #ccc;
}
.content.page-container[data-page-route*="List/"] 
    .layout-main-section.listview-main-section > .page-form.row 
        .form-control{
        border-radius: 7px;
        border: 0.4px solid #d1d8dd;
        -moz-box-shadow:    2px 2px 5px 0px #ccc;
        -webkit-box-shadow: 2px 2px 5px 0px #ccc;
        box-shadow:         2px 2px 5px 0px #ccc;
        min-height: 34px;
        width: 100%;
    }

.btn-primary{
    background-color: #56b85b;
    border-color: #56b85b;
    font-size: 13px;
    border-radius: 12px;
    width: 53px;
    font-weight: bolder;
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
}
.btn-primary.btn-danger{
    background-color: #e41e1e;
    border-color: #e41e1e;
}
.btn-primary.btn-danger:hover,
.btn-primary.btn-danger:focus{
    background-color: #e41e1e;
    border-color: #e41e1e;
}
.btn-default.btn-secondary{
    font-size: 13px;
    border-radius: 12px;
    background-color: #2585c7;
    border-color: #2585c7;
    color: white;
    width: 53px;
    text-align: center;
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary{
    background-color: #4aa04e;
    border-color: #4aa04e;

}
.set-filter-and-run.btn-primary{
    background-color: #2585c7;
    border-color: #2585c7;
    font-size: 13px;
}


.set-filter-and-run.btn-primary:hover,
.set-filter-and-run.btn-primary:focus,
.set-filter-and-run.btn-primary.focus,
.set-filter-and-run.btn-primary:active,
.set-filter-and-run.btn-primary.active,
.open > .dropdown-toggle.set-filter-and-run.btn-primary{
    background-color: #1d6fa5;
    border-color: #1d6fa5;

}

.filter_area{
    background-color: white;
    margin: 15px 0px;
}

.show_filters{
    border-bottom: none;
    margin: 15px 0;
}
.result,.no-result{
    background-color: white;
    -moz-box-shadow:    2px 2px 5px 0px #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px #ccc;
    box-shadow:         2px 2px 5px 0px #ccc;
}
.modal-body .result,.modal-body .no-result{
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    background-color: transparent;
}
.list-item--head,.list-paging-area{
    background-color: white;

}

.list-item--head{
    font-weight: bolder;
    font-size: 13px;
    padding-top: 7px;

}
.list-paging-area{
    -moz-box-shadow:    2px 2px 5px 0px #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px #ccc;
    box-shadow:         2px 2px 5px 0px #ccc;
}

.frappe-rtl .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.frappe-rtl .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.btn-default{
    background-color: white;
    border-color: white;
    color:#a9cee8;
    border-color:lightgrey;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    -moz-box-shadow:    2px 2px 5px 0px #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px #ccc;
    box-shadow:         2px 2px 5px 0px #ccc;
}
.btn-default.btn-more,.btn-default.btn-more:active{
    background-color: #2585c7;
    color:white;
    border-color:#2585c7;
    font-weight: 800;
    border-radius: 10px;
}
.btn-info{
    background-color: transparent;
    color: #408fcc;
    border-color:lightgrey;

}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info{
    color: #408fcc;
    background-color: transparent;
    border-color:lightgrey;

}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
    color: #408fcc;
    background-color: transparent;
    border-color:lightgrey;
}

span.indicator.filterable{
    background-color: #f8fafb;
    padding: 5px 10px;
    width: 100%;
    border-radius: 50px;
    font-size: 14px;
    border-radius:18px;
    min-width: 76px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: 25px;
    font-size: 10px;
    margin: auto;
}
span.indicator.filterable:hover{
    background-color:#edf2f5;
}

.frappe-rtl .indicator::before, .indicator-right::after{
    float: left;
    height: 10px;
    width: 10px;
    margin-top:2px;

}

span .indicator.green::before, .indicator-right.green::after{
    float: right;
    height: 12px;
    width: 12px;
    margin-top:4px;
}

input.frappe-control{
    border-radius: 7px;
}

.frappe-control{
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
}

.filter_area .form-control{
    color:#a6b2b2;
    border-radius: 8px;
}

input.form-control{
    border-radius: 8px;
}

.control-label, .grid-heading-row{
    color: #165777;
    font-size: 15px;
}
.frappe-rtl .control-label{
    padding-right: 10px!important;
}
.control-label{
    padding-left: 10px!important;
}

.row.form-section{
    margin: 35px 0;
    background-color: white;
    border:1px solid #d1d8dd;
    -moz-box-shadow:    2px 2px 5px 0px #ccc;
    -webkit-box-shadow: 2px 2px 5px 0px #ccc;
    box-shadow:         2px 2px 5px 0px #ccc;
}

.modal-dialog .row.form-section{
    -moz-box-shadow:    unset;
    -webkit-box-shadow: unset;
    box-shadow:         unset;
}
.row.form-section:first-child{
    margin: 0;
}
.modal-content .row.form-section, .grid-form-body .row.form-section{
    margin: 0;
    border:none;
}
body[data-route*="Form/"] .layout-main-section{
    border: none;
}
#navbar-breadcrumbs{
    font-size: 20px;
}

#navbar-breadcrumbs > li > a:hover, #navbar-breadcrumbs > li > a:focus{
    background-color: transparent;
}


.page-title .title-text:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    display: inline-block;
    speak: none;
    font-size: 24px;
    transition: 0.2s;
    position: relative;
    top: 3px;
    content: "\f105";
    margin-right: 10px;
    color: #C0C9D2;
}
.frappe-rtl .page-title .title-text:before {
    margin-right: auto;
    margin-left: 10px;
    -ms-transform:rotate(180deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(180deg); /* Chrome, Safari, Opera */
    transform:rotate(180deg);         /* Standard syntax */
}

.page-title .title-text:hover{
    cursor: pointer;
}

.page-title .title-text{
    max-width: 100%;
}

.page-title .title-text:hover:before{
    color: black;
}
.editable-title .title-text:hover{
    background-color: transparent;
    color: black;
}

.layout-other-section ul.dropdown-menu{
    display: block;
    right: 0;
    left: unset;
    max-height: unset;
}
.layout-other-section button.dropdown-toggle{
    display: none;
}
.frappe-rtl .layout-other-section ul.dropdown-menu{
    display: block;
    right: unset;
    left: 0;
    padding-top: 17px;
    padding-bottom: 17px;
}

.layout-other-section{
    top: -30px;
}
.layout-other-section .btn-group.menu-btn-group{
    width: 100%;
}
.layout-other-section ul.dropdown-menu{
    z-index: 0;
    position: initial;
    border-radius: 0;
    min-width: 137px;
    width: 137px;
}

.layout-other-section .btn-group.menu-btn-group{
    top: 20px;
    left: 0;
    right: unset;
}
.navbar-form{
    float: left;
}
.row.layout-main{
    width: 100%;
}

.layout-other-section ul.dropdown-menu li:not(:empty){
    border-radius: 8px;
    margin: 9px auto;
    width: 92px;
}
.layout-other-section ul.dropdown-menu > li >a:hover,
.layout-other-section ul.dropdown-menu > li > a:focus{
    background-color: #a6b2b2;
    color: #408fcc;
    border-radius: 8px;
}

.layout-other-section ul.dropdown-menu li a{
    color: white;
    font-size: 9px;
    font-weight: bold;
    padding: 13px 5px;
    text-align: center;
}

.orange-menu-item{
    background-color: #f68f35;
    color: white;
}

.green-menu-item{
    background-color: #56b85b;
    color: white;
}

.yellow-menu-item{
    background-color: #f9be3c;
    color: white;
}

.grey-menu-item{
    background-color: #4d6564;
    color: white;
}

.layout-other-section ul.dropdown-menu > li.orange-menu-item >a:hover,
.layout-other-section ul.dropdown-menu > li.orange-menu-item > a:focus{
    background-color: white;
    color: #f68f35;
    border-radius: 8px;
}

.layout-other-section ul.dropdown-menu > li.green-menu-item >a:hover,
.layout-other-section ul.dropdown-menu > li.green-menu-item > a:focus{
    background-color: white;
    color: #56b85b;
    border-radius: 8px;
}

.layout-other-section ul.dropdown-menu > li.yellow-menu-item >a:hover,
.layout-other-section ul.dropdown-menu > li.yellow-menu-item > a:focus{
    background-color: white;
    color: #f9be3c;
    border-radius: 8px;
}

.layout-other-section ul.dropdown-menu > li.grey-menu-item >a:hover,
.layout-other-section ul.dropdown-menu > li.grey-menu-item > a:focus{
    background-color: white;
    color: #4d6564;
    border-radius: 8px;
}

.orange{
    color: #f68f35;
}

.green{
    color: #56b85b;
}

.yellow{
    color: #f9be3c;
}

.grey{
    color: #4d6564;
}


.btn-default.orange:hover,.btn-default.orange:focus,
.btn-default.orange:active, .btn-default.orange.active, 
.open > .dropdown-toggle.btn-default.orange{
    background-color: #f79c42;
    color: white;
}

.btn-default.green:hover,.btn-default.green:focus,
.btn-default.green:active, .btn-default.green.active, 
.open > .dropdown-toggle.btn-default.green{
    background-color:#56b85b ;
    color: white;
}

.btn-default.yellow:hover,.btn-default.yellow:focus,
.btn-default.yellow:active, .btn-default.yellow.active, 
.open > .dropdown-toggle.btn-default.yellow{
    background-color: #f9be3c;
    color: white;
}

.btn-default.grey:hover,.btn-default.grey:focus,
.btn-default.grey:active, .btn-default.grey.active, 
.open > .dropdown-toggle.btn-default.grey{
    background-color:#4d6564 ;
    color: white;
}

.form-links.form-dashboard-section .document-link{
    position: relative;
}

.form-links.form-dashboard-section .document-link .btn-default.btn-new{
    right: 0;
    left: unset;
    position: absolute;
}
.frappe-rtl .form-links.form-dashboard-section .document-link .btn-default.btn-new{
    position: absolute;
    right: unset;
    left: 0;
}

header .navbar-fixed-top .dropdown.dropdown-help,
header .navbar-fixed-top .toolbar-user-fullname{
    display: none;
}

header .navbar-fixed-top .avatar-small{
    width: 34px;
    height: 34px;
    -moz-box-shadow:    0 3px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow:         0 3px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}
header .navbar-fixed-top .avatar-small .standard-image,
header .navbar-fixed-top .avatar-small .avatar-frame{
    font-size: 23px;
    border-radius: 20px;
}

.frappe-rtl header .navbar-fixed-top .dropdown-navbar-user .caret{
    position: absolute;
    margin: auto;
    right: 0;
    top: 50%;
}
.frappe-rtl header .navbar-fixed-top .dropdown-navbar-user a.dropdown-toggle{
    padding-left: 0;
    /* background-color: #edf4f7; */
}

.page-head{
    top: 60px;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 3px 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 3px 4px 2px rgba(0, 0, 0, 0.1);

}
.page-body .page-content{
    margin-top:100px;
}
.page-title .indicator{
    position: relative;
}
.frappe-rtl .page-title span.indicator::before{
    position: absolute;
    right: 0px;
    top: 0px;
}
.frappe-rtl .page-title span.indicator span{
    padding-right: 15px;
    color: white;
}
input[type="checkbox"]{
    width: 0;
    margin-right: 13px!important;
    margin-left: 0!important;
}

.frappe-rtl input[type="checkbox"]{
    margin-right: 0!important;
    margin-left: 13px!important;
}

.list-item input[type="checkbox"]{
    margin-right: 5px!important;
    margin-left: 5px!important;
}

.frappe-rtl .list-item input[type="checkbox"]:before{
    font-size: 17px!important;
}

.list-item .liked-by, .list-item .liked-by-filter-button{
    margin-left: 0;
    margin-right: 20px;
}
.frappe-rtl .list-item .liked-by, .list-item .liked-by-filter-button{
    margin-right: 0;
    margin-left: 20px;

}


.case-wrapper:hover .app-icon{
    background-color: #f79c42!important;
}

.case-wrapper:hover .app-icon i,.case-wrapper:hover .app-icon span{
    color: white!important;
    border: 2px solid white;
}


#primary-sidebar{
    position: fixed;
    direction: rtl;
    height: 100%;
    width: 18vw;
    left: 0;
    right: auto;
    z-index: 2000;
    background: rgb(27,125,175);
    background: -moz-linear-gradient(180deg, rgba(27,125,175,1) 0%, rgba(24,106,147,1) 50%, rgba(25,90,122,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(27,125,175,1) 0%, rgba(24,106,147,1) 50%, rgba(25,90,122,1) 100%);
    background: linear-gradient(180deg, rgba(27,125,175,1) 0%, rgba(24,106,147,1) 50%, rgba(25,90,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b7daf",endColorstr="#195a7a",GradientType=1);
    -ms-scrollbar-track-color:whitesmoke;

}
.frappe-rtl #primary-sidebar{
    left: auto;
    right: 0;
    direction: ltr;
}

#primary-sidebar::-webkit-scrollbar,
.slick-viewport::-webkit-scrollbar  {
    width: 0.3em;
}
 
#primary-sidebar::-webkit-scrollbar-track,
.slick-viewport::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#primary-sidebar::-webkit-scrollbar-thumb,
.slick-viewport::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
  outline: 1px solid whitesmoke;
  -ms-scrollbar-track-color:whitesmoke;
}

.splash img{
    background-color: unset;
    min-width: unset;
    z-index: 99999;
    margin: auto;
    border-radius: unset;
    max-height: 150px;
    display: block;
    margin-top: 35vh;
}

/*.splash img{
    background-color: #e1e4ec;
    min-width: 500px;
    z-index: 99999;
    margin: auto;
    border-radius: 50px;
    max-height: 200px;
    display: block;
    margin-top: 35vh;
}
*/
.splash{
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
}

.page-head{
    width: calc(82vw);
    right: 0;
    left: auto;
}
.frappe-rtl .page-head{
    left: 0;
    right: auto;
}
header{
    margin-bottom: 35px;
}
header .navbar{
    left: auto;
    right: 0;
    padding: 0;
    min-height: 60px;
    height: 60px;
}
.frappe-rtl header .navbar{
    left: 0;
    right: auto;
}
header .navbar .container{
    width: calc(82vw);
    padding-right: 60px;
    padding-left: 0;
}
.frappe-rtl header .navbar .container{
    width: calc(82vw);
    padding-left: 60px;
    padding-right: 0;
}



#primary-sidebar:hover{
    overflow-y: scroll;
}
#primary-sidebar .logo{
    padding: 20px 40px;
    max-width: 230px;
    margin: auto;
}
.profile-image{
    background-color: #eef5fa;
    width: 180px;
    height: 100px;
    margin: 5px auto;
    border-radius: 15px;
}
.profile-image:empty{
    padding: 45px 0;
    
}
.profile-image .avatar-small{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    max-height: 100px;
}
.profile-image:hover{
    cursor: pointer;
    background-color: transparent;
}

.profile-image .avatar-small .standard-image{
    font-size: 70px;
    background-color: transparent!important;
    border: none;
}
.profile-image{
    border:1px solid #eef5fa;
}
.user-info{
    text-align: center;
    color: #eef5fa;
}

.sidebar-modules{
    padding: 40px;
    padding-top: 10px;
    max-width:325px;
    margin:auto;
}

.sidebar-module,.module-link{
    border-bottom: 1px solid #edf4f7;
    text-align: center;
    color:#eef5fa;
    padding: 2px 0;
    border-image: radial-gradient(rgb(30, 33, 32), #edf4f7) 1;
    -moz-border-image:radial-gradient(rgb(30, 33, 32), #edf4f7) 1;
    -o-border-image:radial-gradient(rgb(30, 33, 32), #edf4f7) 1;
}

.sidebar-module:hover,.module-link:hover,
.sidebar-module:focus,.module-link:focus,
.sidebar-module:active,.module-link:active,
.sidebar-module:hover .module-link{
    color: #f68f35;
    border-color: #f68f35;
    border-image: radial-gradient(#f68f35, #f8b376) 1;
    cursor: pointer;
    text-decoration: none;
}

input[id="navbar-search"] + ul{
    top: 38px;
}




.sidebar-image-wrapper{
    display: none;
}

.page-title .title-text:before{
    color: white!important;
}
.sort-selector .dropdown{
    margin-top:5px;
}

.full-width{
    width: 100vw!important;
}

html{
    height: 100%;
}


.fas{
    font-family: FontAwesome;
    font-style: normal;
    font-size: 20px;
    color:#165777ad;
}
.user-progress{
    display: none!important;
}

.document-link a{
    color: #165777;    

}
.document-link .btn-default {
    padding:0px 5px;
}


.module-section-link{
    color: #165777;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 0px;
}

.frappe-rtl .module-section-link{
    padding-left: 0px;
    padding-right: 10px;
}

.section-head.h4{
    color: #8D99A6;
    font-weight: lighter;
    font-size: 18px;
}

.form-documents{
    color: #165777;    
}
.list_filter.row{
    margin:auto;
    width: 100%;
}

.list-item-container{
    border:0.1px solid #e8ecef;
}

.col-md-9.layout-main-section-wrapper{
    padding-left: 0;
    padding-right: 0;

}

.page-content .row.layout-main{
    margin-left: 21px;
    margin-right: 21px;

}
.filter-box .row > div[class*="col-sm-"]{
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: 10px;
}

.indicator::before{
    margin:2px 0 0 4px;    
}

.frappe-rtl .indicator::before{
    margin:2px 4px 0 0px;
}
input[type="checkbox"]{
    height: 15px;
}