body{
    background-color: #f8faff!important;    
}
#page-desktop{
    background-color: #f8faff!important;
    background: #f8faff!important;
    overflow: unset;
    position: inherit;
}


.content.page-container[id="page-desktop"] > div:first-child{
    height: fit-content;
    padding-top: calc(100px + 3%)!important;
}

.content.page-container[id="page-desktop"] #icon-grid{
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: inline-table;
    display: -moz-inline-table;
    display: -ms-inline-table;
    margin-bottom: 30px;

}

.app-icon i{
    color: #f79c42!important;
    border:2px solid #f79c42;
    border-radius: 50px;
    padding: 15px;
    min-width:62px;
}
.app-icon{
    background-color: white!important;
    border-radius:10px;
    min-width: 106px;
    min-height: 106px;
}
.app-icon .inner{
    font-size: 70px;
    margin-top: 10px;
    color: #f79c42;
}
.app-icon .inner:hover{
    color: white;
    
}
.case-wrapper{
    width: 112px;
    margin-bottom: 15px;
    margin: 12px;
}

#icon-grid{
    padding: 30px;
}

.case-label{
    color: #2d6482;
    text-shadow:none;
    font-size: 14px;
}

body[data-route=""] .navbar-default, body[data-route="desktop"] .navbar-default{
    background-color: rgba(255, 255, 255,1);
}

.page-title .title-text{
    margin-right: 10px;
}

.page-title .title-text:empty{
    display: none;
}
body[data-route=""] .page-title .title-text:before{
    display: none;
}
.desk-page-head{
    display: none;
}
body[data-route=""] .desk-page-head{
    display: block;
}

body[data-route=""] .content.page-container > div{
    display: table;
    margin-left:24vw;
    margin-right: 0;
}


 body[data-route=""].frappe-rtl .content.page-container > div{
    display: table;
    margin: auto;
}
/* 
body[data-route=""] header .navbar > .container,.page-head{
    width: 76vw;
} */



.filter_field{
    width: 100%!important;
}
.filter-actions.col-sm-1 {
    width: 11.333333%!important;
}


.layout-side-section ul:not(.dropdown-menu){
    display: inline-flex;
    vertical-align: middle;
}

.layout-side-section .list-sidebar {
    display: inline-flex;
}
.layout-side-section ul:not(.dropdown-menu) li:not(:empty){
    margin: 0 5px;
    border-radius: 8px;
    background-color: white;
    padding: 5px 12px;
}

.layout-side-section ul:not(.dropdown-menu).module-sidebar-nav{
    display: none;
}

.show-tags-btn{
    margin-top: -10px;
    margin:auto;
    background-color: white;
    color: green;
    border-radius: 8px;
    padding: 5px 12px;
    display: none;
}
.layout-side-section a{
    color:#56b85b;
}
.layout-side-section a:hover{
    text-decoration: none!important;
}

.frappe-rtl .form-sidebar .form-shared .octicon, .form-sidebar .form-viewers .octicon{
    left: unset;
    right: 7px;
}

.layout-side-section .sidebar-menu{
    margin: 0;
    margin-bottom: 10px;
}

.layout-side-section .sidebar-menu > li.attachment-row > a{
    display: contents;
}

.page-form {
    border-bottom: none;
}

.frappe-rtl .tags-list{
    padding-left: 0;
    padding-right: 3px;

}

.container{
    width: 100%;
}
.frappe-rtl .form-print-wrapper{
    margin-right: 0;
}

.frappe-rtl .filter-box .filter_field{
    padding-right: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand.toggle-sidebar-btn{
    margin:0px 10px!important;
    margin-right: 0!important;
}

.frappe-rtl .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand.toggle-sidebar-btn{
    margin-left: 0!important;
    margin-right: 10px!important;
}
.navbar-brand.toggle-sidebar-btn .octicon-three-bars{
    font-size: 25px;
}

.frappe-rtl form.navbar-form.navbar-right{
    padding-right: 0;
}

body{
    overflow: unset;
}

@media (max-width: 991px) {
    header .navbar{
        width: 100%;
    }

    header .page-head{
        width: 100%;
    }
    .page-title{
        right: 0;
    }
}
#navbar-breadcrumbs{
    width: fit-content;
}

#navbar-breadcrumbs > li > a{
    width: fit-content;
}

@media (max-width: 480px) and (max-width: 991px){
    #navbar-breadcrumbs li > a{
        width: fit-content;
    }
}

@media (max-width: 991px){
    #navbar-breadcrumbs{
        max-width: fit-content;
    }
    .navbar > .container > .navbar-header{
        float: right;
    }
}



.frappe-rtl .listview-main-section .page-form .octicon-search{
    margin-left: -10px;
    z-index: 5;
}

.frappe-rtl div.frappe-control input{
    padding-right: 20px;
}

body .splash{
    z-index: 10000000;
    max-width: fit-content;
}