@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap&subset=arabic');

body{
    background-color: #f8faff!important;    
    font-family: 'Cairo', sans-serif;
}
#page-desktop{
    background-color: #f8faff!important;
    background: #f8faff!important;
    overflow: unset;
    position: inherit;
}


.content.page-container[id="page-desktop"] > div:first-child{
    height: fit-content;
    padding-top: 110px!important;
}

.content.page-container[id="page-desktop"] #icon-grid{
    height: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    margin-bottom: 30px;
    -moz-box-shadow:    0 3px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow:         0 3px 4px 2px rgba(0, 0, 0, 0.1);
    justify-content:center;
    flex-direction: column;
    justify-content:center;
    flex-flow:wrap;
    max-width: 703px!important;
}

.app-icon i{
    color: #f79c42!important;
    border:2px solid #f79c42;
    border-radius: 50px;
    padding: 15px;
    width:100%;
    height:100%;

}
.app-icon{
    background-color: white!important;
    border-radius:10px;
    min-width: 89px;
    min-height: 89px;
    width: 89px;
    height: 89px;
    padding: 10px;
    left: 0;
    right: 0;
}
.app-icon .inner{
    font-size: 70px;
    margin-top: 10px;
    color: #f79c42;
}
.app-icon .inner:hover{
    color: white;
    
}
.case-wrapper{
    width: 89px;
    margin-bottom: 5px;
    margin: 10px 7.5px;
    height: 116px;
    position: relative;
}
.case-wrapper:hover{
    cursor: pointer;
}

#icon-grid{
    padding: 30px;
}

.case-label{
    color: #2d6482;
    text-shadow:none;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
}

body[data-route=""] .navbar-default, body[data-route="desktop"] .navbar-default{
    background-color: rgba(255, 255, 255,1);
}

.page-title .title-text{
    margin-right: 10px;
    max-width: fit-content;
}

.page-title .title-text:empty{
    display: none;
}
body[data-route=""] .page-title .title-text:before{
    display: none;
}
.desk-page-head{
    display: none;
}
body[data-route=""] .desk-page-head{
    display: block;
}

body[data-route=""] .content.page-container > div{
    display: table;
    margin: auto;
}


 body[data-route=""].frappe-rtl .content.page-container > div{
    display: table;
    margin: auto;
}
/* 
body[data-route=""] header .navbar > .container,.page-head{
    width: 76vw;
} */



.filter_field{
    width: 100%!important;
}
.filter-actions.col-sm-1 {
    height: 34px;
}



.standard-actions .btn-group .dropdown-menu{
    border-radius: 15px!;
    border-color: #eee;
}

.standard-actions .btn-group .dropdown-menu li {
    box-shadow: none!important;
    background-color: transparent;
    padding: 8px;
    padding: 0!important;
}

.profile-image{
    position: relative;
}
.profile-image .avatar-small .standard-image{
    padding: 40% 0;
}
.profile-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.layout-side-section ul:not(.dropdown-menu){
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-side-section .list-sidebar {
    display: block;
}
.layout-side-section ul:not(.dropdown-menu) li:not(:empty){
    margin: 0 5px;
    border-radius: 8px;
    background-color: white;
    padding: 7px 15px;
    font-size: 14px;
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0 3px 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 3px 4px 2px rgba(0, 0, 0, 0.1);
}

.layout-side-section ul:not(.dropdown-menu).module-sidebar-nav{
    display: none;
}

.show-tags-btn{
    margin-top: -10px;
    margin:auto;
    background-color: white;
    color: green;
    border-radius: 8px;
    padding: 5px 12px;
    display: none;
}

.layout-side-section a:hover{
    text-decoration: none!important;
}

.frappe-rtl .form-sidebar .form-shared .octicon, .form-sidebar .form-viewers .octicon{
    left: unset;
    right: 7px;
}

.layout-side-section .sidebar-menu{
    margin: 0;
    margin-bottom: 10px;
}

.layout-side-section .sidebar-menu > li.attachment-row > a{
    display: contents;
}

.page-form {
    border-bottom: none;
}
.tags-list{
    display: inline!important;
}
.frappe-rtl .tags-list{
    padding-left: 0;
    padding-right: 3px;

}

.container{
    width: 100%;
}
.frappe-rtl .form-print-wrapper{
    margin-right: 0;
}

.frappe-rtl .filter-box .filter_field{
    padding-right: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand.toggle-sidebar-btn{
    margin:0px 10px!important;
    margin-right: 0!important;
}

.frappe-rtl .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand.toggle-sidebar-btn{
    margin-left: 0!important;
    margin-right: 0!important;
}
.navbar-brand.toggle-sidebar-btn img{
    width: 26px;
    height: 26px;

}

.frappe-rtl form.navbar-form.navbar-right{
    padding-right: 0;
}

body{
    overflow-y: scroll;
}
@media (max-width:395px){
    header .navbar .container{
        padding: 0;
    }
    .frappe-rtl header .navbar .container{
        padding: 0;
    }
}
@media (max-width: 767px) {
    header .navbar{
        width: 100%;
    }

    header .page-head{
        width: 100%;
    }
    .page-title{
        right: 0;
    }
    .layout-other-section{
        position: absolute;
    }
    .layout-other-section button.dropdown-toggle{
        display: block;
    }
    .layout-other-section ul.dropdown-menu{
        display: none;
    }
    .open .layout-other-section ul.dropdown-menu{
        display: block;
    }
    .navbar-desk{
        width: fit-content!important;
    }
    .frappe-rtl .navbar-desk ~ ul > li{
        float: right!important;
    }
    .navbar-right .visible-xs{
        padding: 5px;
    }

    body[data-route^="Form"] .page-title .title-text{
        font-size: 24px;
    }
}
#navbar-breadcrumbs{
    width: fit-content;
}

#navbar-breadcrumbs > li > a{
    width: fit-content;
}

@media (max-width: 480px) and (max-width: 991px){
    #navbar-breadcrumbs li > a{
        width: fit-content;
    }
}

@media (max-width: 767px){
    #navbar-breadcrumbs{
        max-width: fit-content;
    }
    .navbar > .container > .navbar-header{
        float: right;
    }
    .page-head{
        width: 100vw;
    }
    .frappe-rtl #navbar-breadcrumbs{
        float: right;
    }    
}
@media (max-width: 991px){
    .page-head .page-title h1{
        margin-top:6px;
        font-size: 20px;
    }
}

.frappe-rtl .listview-main-section .page-form .octicon-search{
    margin-left: -20px;
    margin-right: 5px;

    z-index: 5;
}

.frappe-rtl div.frappe-control input{
    padding-right: 30px;
}

body .splash{
    z-index: 10000000;
    max-width: fit-content;
    background-color: white;
    background: white;
    height: 100%;
    width: 100%;
}


.page-title{
    margin-left: 15px;
    margin-right: 0;
}

.frappe-rtl .page-title{
    margin-left: 15px;
    margin-right: 0;
}

.page-title{
    overflow-x: hidden;
}

.sidebar-module .module-title h5{
    text-align: left;
    padding-left: 50px;
    padding-right: 0px;

}

.frappe-rtl .sidebar-module .module-title h5{
    text-align: right;
    padding-left: 0px;
    padding-right: 50px;

}
.sort-selector{
    border-radius: 8px;
    border:1px solid lightgrey;
    padding-left: 15px;
    box-shadow: 2px 2px 5px 0px #ccc;
}
.sort-selector a,
.sort-selector span,
.sort-selector a:hover,
.sort-selector a:hover span{
    text-decoration: none!important
}
.sort-selector:hover{
    background-color: #F7FAFC;
}
.sort-selector button{
    box-shadow: unset;
    border:none;
    background-color: transparent;
    border-left: 1px solid grey;
    border-radius: 0px;
}

.frappe-rtl .sort-selector button{
    border-left: unset;
    border-right: 1px solid grey;
    margin-right: 10px;
    margin-left:0!important;

}
.frappe-rtl .sort-selector{
    padding-left: 0;
    padding-right: 15px;
}

.btn-group.menu-btn-group{
    width: fit-content;
    margin: auto;
    display: block;
}


.divider{
    display: none;
}

/* @media (min-width: 768px) and (max-width: 991px){
    .page-title{
        margin-top: 10px;
    }
} */

@media (max-width: 767px){
    .set-filters{
        padding-right:135px;
    }
    .page-title h1{
        padding-right: 0;
    }
}
.frappe-rtl .page-actions .primary-action{
    margin-left: -15px;
}


.sidebar-module .module-title span{
    float: left;
    padding-left: 7px;
    padding-right: 0px;
    min-width: 30px;

}
.sidebar-module .module-title span i{
    font-size: 25px;
}

.frappe-rtl .sidebar-module .module-title span{
    float: right;
    padding-left: 0px;
    padding-right: 7px;
}
.page-form, .layout-side-section{
    
}
.list-filters {
    background-color: white;
    margin: auto;
    -moz-box-shadow:    2px 2px 5px -1px #ccc;
    -webkit-box-shadow: 2px 2px 5px -1px #ccc;
    box-shadow:         2px 2px 5px -1px #ccc;
}

.list-item__content{}

.list-item-container .list-item{
    border-bottom: 1px solid #d1d8dd69;
}
.list-item--head{
    border-color: #d1d8dd69;
}

.list-item__content--activity{
    display: none;
}
.list-item__content--id{
    margin: 0 40px;
}

.list-item i.octicon-heart{
    border:1px solid #fff6e8;
    background-color:#fff6e8;
    border-radius: 50px;
}
.list-item i.octicon-heart.text-extra-muted{
    color: #fcbd5e81!important;
}

.list-item i.like-action.octicon-heart{
    color: #ffb13b;
}
.list-item i.octicon-heart:hover{
    background-color: #f8e6c8c9;
}

.list-item__content--id a{
    color: #000000a8!important;
    font-size: 15px;
}

.list-paging-area{
    border-top: 1px solid #d1d8dd69;
}
span.checked-items-status.text-ellipsis.text-muted.small.hidden-xs.hidden-sm{
    border:1px solid cadetblue;
    border-radius: 12px;
    padding: 12px;
    display: block;
    -moz-box-shadow:    2px 2px 5px -1px #ccc;
    -webkit-box-shadow: 2px 2px 5px -1px #ccc;
    box-shadow:         2px 2px 5px -1px #ccc;
    margin: 10px 0;
    background-color:cadetblue!important;
    color: white!important;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.frappe-rtl .sidebar-menu .badge{
    left: -10px;
}
.sidebar-menu .badge{
    right: -10px;
}
.form-tags li.tags-list-item{
    border:none!important;
    box-shadow: none!important;
    padding: 0px!important;
}

.tags-list-item ul{
    display: inline!important;
}

.tags-list-item ul li{
    border: none!important;
    box-shadow: none!important;

}

.tags-list-item .tags-placeholder,.tags-list-item .awesomplete {
    margin-top: 9px;
}

.tags-label,.stat-label{
    display: none;
}

.remove-tag{
    background-color: #f68f35;
    color: white!important;
}
.remove-tag i::before{
    color: white!important;
}


.sidebar-menu.sidebar-stat{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 10px 0;
}
.sidebar-menu.sidebar-stat li{
    margin:5px!important;
}

.frappe-rtl #navbar-breadcrumbs > li > a:before{
    color: white;
    content: "\f104";
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0);
    top:0px;
}
.set-filters{
    display: flex;
    flex-wrap: wrap;
}

.frappe-rtl #search-modal .modal-header button{
    right: unset;
    left: 0;
}

.form-section:not(:last-child), .form-inner-toolbar{
    border-top:1px solid #d1d8dd;
    border-bottom: none;
}

.form-inner-toolbar{
    background-color: #fff;
}

.btn-primary.green{
    color: white;
}

.navbar-form[role="search"]{
    margin-top: 9px;
}
.navbar-brand{
    padding-right: 19px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.frappe-rtl .navbar-brand{
    padding-right: 20px;
    padding-left: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-navbar-new-comments a img{
    width: 17px;
    height: 21px;
}


.circle{
    right: 0;
    left: unset;
}


.frappe-rtl .circle{
    left: 0;
    right: unset;
}

.layout-side-section .form-attachments li{
    margin-bottom: 5px!important;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #ffb13b;
  outline: 1px solid #ffb13b;
}

.navbar-form .awesomplete{
    width: 291px;
}


.list-sidebar.overlay-sidebar.hidden-xs.hidden-sm{
    background-color: #f8faff;
}
ul.list-unstyled.sidebar-menu.sidebar-stat{
    display: none;
}

a.list-tag-preview.hidden-xs.text-muted{
    display: none;
}
.layout-side-section{
    box-shadow: unset;
}

.frappe-rtl .pull-right{
    float: left!important;
}
.form-inner-toolbar:empty{
    display: none;
}
.layout-other-section .btn-group.menu-btn-group{
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    width: fit-content;
}
.layout-other-section{
    position: relative;
}

.layout-other-section .page-actions{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar-nav > li > a{
    line-height: 25px;
}