.page-head{
    background: rgb(22,111,174);
    background: -moz-linear-gradient(90deg, rgba(22,111,174,1) 0%, rgba(30,123,187,1) 50%, rgba(37,133,199,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(22,111,174,1) 0%, rgba(30,123,187,1) 50%, rgba(37,133,199,1) 100%);
    background: linear-gradient(90deg, rgba(22,111,174,1) 0%, rgba(30,123,187,1) 50%, rgba(37,133,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#166fae",endColorstr="#2585c7",GradientType=1);
    height: 60px;
}
.page-head .container{
    margin-top: 5px;
}
.page-title h1{
    margin-top: 6px;
    color: white;
}
#navbar-breadcrumbs a{
    color: white;
}
#navbar-breadcrumbs > li > a{
    max-width: fit-content;
}


.navbar-default{
    background-color: white;
    border-color: white;
}

#navbar-search{
    border-radius: 13px;
    background-color: #eef5fa;
    border-color: #eef5fa;
}

.frappe-rtl #navbar-search{
    padding-right: 40px;
}

#navbar-search{
    padding-left: 40px;
}

.navbar .navbar-search-icon{
    left: 0;
    right: unset;
    position: absolute;
    top: 12px;
    font-size: 15px;
    font-weight: 500;
}
.frappe-rtl .navbar .navbar-search-icon{
    right: 10px;
    left: unset;
    position: absolute;
    top: 12px;
    font-size: 15px;
    font-weight: 500;
}


.form-print-wrapper{
    margin-left: calc(18vw - 73px);
    margin-right: 0;
}

.frappe-rtl .form-print-wrapper{
    margin-right: calc(18vw - 73px);
    margin-left: 0;
}
.navbar-form{
    float: left!important;
}
.navbar-form .form-group{
    position: relative;
}
.frappe-rtl .navbar-form[role="search"]{
    float: right!important;
}

#navbar-search{
    width: 70%;
}

.octicon-search-save:before, .octicon-search:before{
    font-weight: bolder;
}