.page-head{
    background: rgb(22,111,174);
    background: -moz-linear-gradient(90deg, rgba(22,111,174,1) 0%, rgba(30,123,187,1) 50%, rgba(37,133,199,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(22,111,174,1) 0%, rgba(30,123,187,1) 50%, rgba(37,133,199,1) 100%);
    background: linear-gradient(90deg, rgba(22,111,174,1) 0%, rgba(30,123,187,1) 50%, rgba(37,133,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#166fae",endColorstr="#2585c7",GradientType=1);
    height: 60px;
}
.page-head .container,
.page-head .container .row{
    height: 100%;
}
.page-title h1{
    color: white;
    font-size: 20px;
    height: 100%;
    margin: 0;
}
.page-title,
.col-md-12.col-sm-12.col-xs-12.page-title,
.col-md-7.col-sm-8.col-xs-6.page-title{
    position: absolute;
    top: 0;
    bottom: 0;
    height:fit-content;
    height:-moz-fit-content;
    height:-webkit-fit-content;
    margin: 15px 26px;;
}
#navbar-breadcrumbs a{
    color: white;
}
#navbar-breadcrumbs > li > a{
    max-width: fit-content;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;

}


.navbar-default{
    background-color: white;
    border-color: white;
}

#navbar-search{
    border-radius: 13px;
    background-color: #eef5fa;
    border-color: #eef5fa;
}

.frappe-rtl #navbar-search{
    padding-right: 40px;
}

#navbar-search{
    padding-left: 40px;
}

.navbar .navbar-search-icon{
    left: 0;
    right: unset;
    position: absolute;
    top: 9px;
    bottom: 9px;
    font-size: 22px;
    font-weight: 500;
}
.frappe-rtl .navbar .navbar-search-icon{
    right: 15px;
    left: unset;
    position: absolute;
    top: 9px;
    bottom: 9px;
    font-size: 22px;
    font-weight: 500;
}


header .navbar .form-group-sm .form-control{
    height: 40px;
}
.form-print-wrapper{
    margin-left: calc(18vw - 73px);
    margin-right: 0;
}

.frappe-rtl .form-print-wrapper{
    margin-right: calc(18vw - 73px);
    margin-left: 0;
}
.navbar-form{
    float: left!important;
}
.navbar-form .form-group{
    position: relative;
}
.frappe-rtl .navbar-form[role="search"]{
    float: right!important;
}

#navbar-search{
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
    border-radius: 22px;
    background-color: #eef5f9;
}

.octicon-search-save:before, .octicon-search:before{
    font-weight: bolder;
}
.navbar .dropdown-toggle,.mail-btn{
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-navbar-new-comments .btn.dropdown-toggle{
    position: relative;
}
.dropdown-navbar-new-comments{
    margin-top: 21px;
}
.mail-btn{
    margin-top: 20px;
}
.dropdown-navbar-new-comments .navbar-new-comments{
    top: -3px;
    right: 25px;
    height: 16px;
    font-size: 11px;
    padding: 0px 4px;
    position: absolute;
    width: fit-content;
    font-weight: bolder;
    
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;

    width:fit-content;
    width:-moz-fit-content;
    width:-webkit-fit-content;
}

.mail-btn img{
    width: 24px;
    height: 24px;
}

.dropdown-navbar-user{
    top: 15px;
}

#navbar-breadcrumbs > li > a{
    padding: 0;
}

@media (max-width: 991px){
    .page-head .page-title h1{
        margin-top:6px;
        font-size: 20px;
    }
    #navbar-breadcrumbs{
        max-width:fit-content;
    }

    .dropdown-navbar-new-comments{
        margin-top: 12px;
    }
}