/* login-css */

.hero-and-content {
	/*background-color: #f5f7fa;*/
	background-color: #fafbfc;
	position: relative;
}

.page-sidebar, #wrap-footer, .page-header {
	display: none;
}

.page-content {
	right: 0%;
	width: 100%;
}

.icon-twitter, .icon-twitter-sign{
    color: #00a0d1;
}

.icon-linkedin, .icon-linkedin-sign{
    color: #4875B4;
}

#wrap {
	background-color: #7575ff;
}

.for-login {
	display: none;
}

.for-forgot {
	display: none;
}

.for-signup {
	display: none;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  border-color: transparent;
  padding: 0 20px;
  height: auto;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.1);
}
.form-signin .form-control:focus {
  z-index: 2;
}

.btn-social {
	margin: 10px;
}

.social-logins .fa {
	margin-right: 5px;
	color: #8D99A6;
}

.form-footer {
	margin-top: -45px;
	text-align: center;
}

.form-footer, .form-footer a, .form-footer h6 {
	font-size: 12px;
	color: #8D99A6;
	font-weight: bold;
}

.form-footer .btn-default {
	color: #36414C;
}

h5 {
  position: relative;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

p {
	margin-bottom:20px;
}

.login-content .btn {
	font-size: 14px;
	margin-top: 45px;
}

header{
	display: none;
}

.web-footer{
	display: none;
}

.page-card{
	border-radius: 10px;
	min-width: 100%;
	padding: 40px 60px;
	margin-top:60px!important;
}

.page-card .page-card-head{
	text-align: center;
	border-bottom:none;
}
.form-control,.btn,.btn-sm,.btn-group-sm > .btn{
	border-radius: 20px;
	color: white;
	min-height: 40px;
}
.form-control{
	color: black
}
.login-content .btn,.page-card .btn{
	margin-top: 0;
}
.btn,.btn-sm,.btn-group-sm > .btn{
	background-color: #165777;
	border-color: #165777;
}
.btn:hover,.btn-sm:hover,.btn-group-sm > .btn:hover,
.btn:focus,.btn-sm:focus,.btn-group-sm > .btn:focus{
	background-color: #00a0d1;
	border-color: #00a0d1;
}

.hero-and-content{
	background-color: transparent;
}
body{
	background: rgb(22,87,119);
	background: -moz-linear-gradient(180deg, rgba(22,87,119,1) 0%, rgba(96,140,162,1) 50%, rgba(248,249,249,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(22,87,119,1) 0%, rgba(96,140,162,1) 50%, rgba(248,249,249,1) 100%);
	background: linear-gradient(180deg, rgba(22,87,119,1) 0%, rgba(96,140,162,1) 50%, rgba(248,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#165777",endColorstr="#f8f9f9",GradientType=1);
	background-repeat: no-repeat;
	height: 100%;

}

.form-footer{
	margin: auto;
	margin-top: 20px;
	max-width: 360px;
	background-color: white;
}

a[href="#forgot"]{
	text-decoration: underline;
}

.page_content{
	max-width: 50%;
	margin-top: 5vh;
}

#page-title{
	font-size: 16px;
	font-weight: bolder;
	word-spacing: 5px;
	color: white;
	width: 100%;
	text-align: center;
	direction: rtl;
	margin: auto;
	max-width: 600px;
}


#logo{
	max-width: 250px;
	margin: auto;
	display: block;
}

@media (max-width: 991px) and (min-width: 768px){
	.login-background{
		position: initial;
		width: 100%;
	}
	
	.page_content{
		margin:auto;
	}
	#page-title{
		width: 520px;
	}
}
@media (min-width:768px){
	.form-container section{
		margin:80px;

	}
}

.indicator::before, .indicator-right::after{
	display: none;
}

.page-card .page-card-head .indicator{
	font-size: 25px;
}
.container{
	margin-top: 15vh;
	width: 100%;
	height: 100%;
}


body{
	font-family: 'Cairo';
	font-weight: bolder;
}
.form-container{
	float: left;
}
.background-container{
	float: right;
}